/*  Name:       Ryan Dunne
    Student No: C00263405
    Date:       03/2024
    Purpose:    Styling for Rentals Page
*/

.form
{
  background-color: #f9d5d9;
  margin-left: auto;
  margin-right: auto;   /*Centres & styles form*/
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40%;

  height: auto;
  border: 3px solid black;
  padding: 10px;
  align-items: center;  

  label
  {
    color: #2B7A78;
    align-content: center;   /*Positions and makes labels more readable*/
    font-weight: bold;
    margin-top: 70px;
    margin-left: 20%;
  }

  input[type=text] 
  {
    width: 60%;
    
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;   /*Styles & positions input fields relative to the forms position */
    margin: 18px 0 10px 20%;

    text-align: center;
  }

  input[type="submit"]
  {
     width: 35%;
     padding-top: 10px;
     padding-bottom: 10px;  /*Styles & positions Book Rentals relative to the forms position */
     margin-left:10%;
  }

}

.background
{
  background: linear-gradient(to top, #bfeeeb, #19aca4);  /*Gradient background */
}

.popupmsg
{
  color: red;
  font-size: larger;   /*Styling & positioning for popup message when user submits */
  margin-left: 39%;
}


#scrollCarTable
{
  background-color: blue; 
  height: 200px;
  overflow-y: scroll;    /*Styles <div> table is located in, forces a scrollbar */
}


td, th, tr
{
  border: 1px solid black;
  background-color: white;   /*Styles table cells, headers & rows */
  text-align: center;

td:hover
{
  background-color: grey; 
}
}

.hide
{
  display: none;  /*Hide cells on table CarID, Rental Category etc. */
}

#listbox
{
  position: fixed;
  margin-top: 10px;  /*Styles & positions Company Listbox */
  margin-left: 20%;
}

.centerButton
{
  display: flex; /*Centers Book Rental button*/ 
  justify-content: center;
}

