/*  Name:       Ryan Dunne
    Student No: C00263405
    Date:       03/2024
    Purpose:    Css Stylesheet for Delete Company Screen
*/

.form
{
  background-color: #f9d5d9;
  margin-left: auto;
  margin-right: auto;           /*Form sizing, positioning & background colour*/
  margin-top: 20px;
  margin-bottom: 20px;
  width: 35%;

  height: auto;
  border: 3px solid black; /*Form Border & item alignment*/
  padding: 10px;
  align-items: center;  

  label
  {
    color: #2B7A78;
    align-content: center;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 20%;
  }
/*-----------All Input types Styled the Same-------------------------*/
  input[type=text] 
  {
    width: 60%;
    
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 18px 0 10px 20%;

    text-align: center;
  }

  input[type=tel] 
  {
    width: 60%;
    
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 18px 0 10px 20%;

    text-align: center;
  }

  input[type=email] 
  {
    width: 60%;
    
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 18px 0 10px 20%;
    box-sizing: border-box;
    text-align: center;
  }

  input[type=number] 
  {
    width: 60%;
    
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 18px 0 10px 20%;
    box-sizing: border-box;
    text-align: center;
  }
/*-------------------------------------------*/
  #Delete
  {
     width: 35%;
     padding-top: 10px;
     padding-bottom: 10px;  /*Submit Button Styling*/
     margin-right: 20px;
  }
}

.background
{
  background: linear-gradient(to top, #bfeeeb, #19aca4);
}

#listbox
{
  margin-left: 45%;  /*Centers Listbox*/
}

#display
{
  margin-left: 43%; /*Centers Currently Selected messsage*/
}

.centerButton
{
  display: flex; /*Centers delete button*/
  justify-content: center;
}

.popupmsg
{
  color: red;
  font-size: larger; /*Colours, Sizes & Centers popup message*/
  margin-left: 43%;
}

