@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body{
    font-size: 15px;
    font-family: 'Cabin', sans-serif;
}

#optionTabs{
    position: relative;
}



.dropButton{
    display: inline-block;
    position: relative;
    padding: 16px;  
    border: none;   /* remove button border */
    background-color: #dfdfdf;
    font-size: 15px;
    font-family: 'Cabin', sans-serif;
    z-index: 2;
    margin: 20px;
}


#menuButton {
    left: calc(10% + (100% - 600px) / 2);
}

#fileButton {
    left: calc(25% + (100% - 600px) / 2);
}

#setupButton {
    left: calc(40% + (100% - 600px) / 2);
}

#blacklistButton {
    left: calc(55% + (100% - 600px) / 2);
}

#amendButton {
    left: calc(70% + (100% - 600px) / 2);
}

#reportsButton {
    left: calc(85% + (100% - 600px) / 2);
}

 /*BUTTONS POSITION  */
#menu {
    left: 20%;
}

#file {
    left: 25%;
}

#setUp {
    left: 40%;
}

#blacklist {
    left: 55%;
}

#amend {
    left: 70%;
}

#reports {
    left: 85%;
}

.arrow{
    height: 16px;
    width: 16px;
    position: relative;
    top: 5px;
    z-index: 2;
}

.dropButton:hover .arrow{
    transform: rotate(90deg);   /* rotate arrow when hovered */ 
}

.menu
{
    display: none;  /* none by default so its  hidden */
    z-index: 3;
    border: 6px solid #333;
    width: 600px;
    height: 500px;
    padding: 20px;
    background: rgba(109, 175, 172, 0.9); /* Dark grey background for menu box */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    top: 350px;
    left: translate(100%, 100%);
    transform: translate(-50%, -50%);
    margin-top: 25px;
    

}

.menu ul {
    list-style-type: none;/*remove bullets*/
    padding: 0;
  }

.menu li {
    margin: 20px;/*spacing between links*/
    position: relative;
  }
  
.menu h2 {
    font-family: 'Roboto', sans-serif;
    background: #6dafac;
    color: #fff;
    font-size: 2.5em;
    padding: 10px;
    margin: 10;
}

.dropdownTab {
    display: inline-block;  /* keep it same line but blocks*/ 
    margin: 30px;       /* spacing */
    position: absolute;     
    left: 30%;  /* top right side of page */ 
    z-index: 3;

}

/* links */
.menu a {
    font-size: 1.5em;
    color: #6f6d6d;  
    text-decoration: none;      /*remove purple and underline */
    display: block;             /* block so its stacks ontop of each other */
    position: relative;     /* relative so its doesnt go directly ontop of each other*/
    text-align: center;
    margin-top: 25px;
    background-color: #dfdfdf;
    height: 40px;
    transition: background-color 0.3s ease;/*tranasition effect*/
    width: 400px;/*width of links are uniform*/
    padding: 5px 10px;
    border-radius: 5px;
}

.menu a:hover{
    background-color:#bbc9c8;
    color: #6f6d6d;
    font-size: 1.5em;
}
  

.dropdownButton:hover .menu{
    display: block;
    z-index: 9;   
}


.navBar{
    position: absolute;
    width: 110%;
    height: 140px;
    background-color: #dfdfdf;
    display: inline-block;
    top: -40px;
    left: -50px;    /*so theres isnt agap on the top and left margin */
    z-index: 1;
    margin: 10px;
}

.logReg{
    position: absolute;
    right: 30px;
    outline: none;
    border: none;
    width: 80px;
    height: 30px;
    margin: 10px;
    display: block;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(165, 163, 163, 0.767);
    z-index: 3;
}

#login{
    top: 50px;
    background-color: #A1D2F8;
}

#register{
    top: 0px;
    background-color: #D4F1F8;
}

#login:hover{
    background-color: #7aa0bd;
}

#register:hover{
    background-color: #a5bbc0;
}

.slideContainer{
    position:absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    top: 200px;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;

}

.slidesImg{
    height: 80%;
    width: 400px;
    margin: 20px;
    box-shadow: 2px 2px 2px 2px rgba(165, 163, 163, 0.767);
}

.slide{
    background-color: #afafaf;
}
